.form {
  width: 25vw;
  background-color: #f87171;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
}

.register-button {
  width: 80%;
  height: 70%;
  font-weight: bold;
}
