@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.home-wrapper {
  height: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-wrapper button {
  padding: 5px 20px;
  background-color: rgb(239, 159, 94);
}

.home-wrapper h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.home-wrapper p {
  padding-right: 30%;
  margin-bottom: 30px;
}

.img-box {
  height: 100%;
  display: flex;
  align-items: center;
}

.img-box img {
  z-index: 0;
}

.food-img-box {
  display: flex;
}

.food-img-box img {
  padding-top: 20px;
  height: 150px;
}

.red-circle {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50% 0 0 0;
  height: 60vh;
  width: 45vw;
  background-color: lightcoral;
}

.red-square {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 500px;
  width: 500px;
  background-color: lightcoral;
}
