@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
}

.container {
  font-family: "Inter", sans-serif;
  height: 90%;
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  max-width: 600px;
  position: relative;
  /*svg*/
  background-image: url("../../assets/bg/layered-waves-login.svg");
  aspect-ratio: 960/300; /*experimental*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: bold;
}

.password {
  border: 2px solid rgb(244 63 94);
}

.error {
  margin-top: 1rem;
}

.btn {
  margin-top: 2rem;
  width: 100%;
  background-color: rgb(255, 56, 92);
  border: none;
  transition: opacity 0.3s;
}

.btn:disabled {
  font-weight: 600;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: rgb(255, 56, 92);
  opacity: 0.6;
}

.link:hover,
.link:active,
.link:focus {
  color: rgb(255, 56, 92);
  opacity: 0.6;
}

.signup {
  text-align: center;
  margin-top: 2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  display: block;
  font-weight: bold;
  color: #f59e0b;
  text-decoration: none;
  padding-left: 5px;
}

@media (min-width: 768px) {
  .link {
    display: inline-block;
  }

  .signup {
    flex-direction: row;
  }
}
