/* * {
  outline: 1px solid red !important;
  opacity: 1 !important;
  visibility: visible !important;
} */

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
}

ul {
  margin-bottom: 0;
}
