@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.container {
  height: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

<<<<<<< HEAD:client/src/pages/Home.css
/**
.home-wrapper button {
  padding: 5px 20px;
=======
.button {
  padding: 8px 20px;
>>>>>>> main:client/src/styles/Home.module.css
  background-color: rgb(239, 159, 94);
  border-radius: 0.5rem;
}
*/

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

<<<<<<< HEAD:client/src/pages/Home.css
.button-box {
  max-width: 50%;
}

.home-wrapper p {
=======
.description {
>>>>>>> main:client/src/styles/Home.module.css
  padding-right: 30%;
  margin-bottom: 30px;
}

.box {
  height: 100%;
  display: flex;
  align-items: center;
}

.box img {
  z-index: 0;
}

.food {
  display: flex;
  height: 8rem;
  margin-top: 2rem;
}

.food img {
  padding-top: 20px;
  height: 150px;
}

.background {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50% 0 0 0;
  height: 60vh;
  width: 45vw;
  background-color: lightcoral;
}
