.lobby-container {
  height: 100%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.lobby-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.members {
  flex: 0 1 auto;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  justify-content: center;
}

.members-list {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  align-items: center;
}

.members-list li {
  background-color: burlywood;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.members-count {
  text-align: center;
  background-color: lightcoral;
  border-radius: 12px;
  margin-bottom: 1rem;
  width: 60px;
  border: 2px solid black;
}

.members-count span {
  padding-left: 0.5rem;
  font-size: large;
  font-weight: 600;
}

.members-count-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
