.loader-wrapper {
  height: 100%;
  width: 100%;
}

.loader-text {
  font-family: "Montserrat", sans-serif;
  color: #d42d2d;
}

.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: lightcoral;
}
